.header{
    height: 40vw;
    margin: 30px auto;
    background-image: url('/src/assets/header_img.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
}
.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
}
.header-content h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}
.header-content p{
    color: white;
    font-size: 1vw;
}
.header-content button{
    border: 1px solid white;
    color: white;
    font-weight: 500;
    padding: 1vw 36px;
    background-color: transparent;
    /* background-color: white; */
    font-size: max(1vw,13px);
    border-radius: 50px;
}
.header-content button:hover{
    background-color: white;
    color: #747474;
    font-weight: 500;
}
@media(max-width:1050px){
    .header-content{
        max-width: 45%;
    }
    /* .header-content h2{
        font-size: 68px;
    } */
}
/* @media(min-width:751px),(max-width:900px){
    .header-content{
        max-width: 75%;
    }
    .header-content h2{
        font-size: 30px;
    }
} */
@media(max-width:750px){
    .header-content{
        max-width: 75%;
    }
    .header-content p{
        display: none;
    }
    .header-content button{
        padding: 2vw 4vw;
        margin-bottom: 30px;
    }
}